*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

html{
    font-size: 62.5%;
}

/* Header global */

header{
    height: 150px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

header #menu_deroulant{
    width: 82%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header button#icon_menu_ouvert, header button#icon_menu_ferme{
    display: none;
}

header #logo{
    display: inline-block;
    width: 10%;
    text-align: center;
}

header img{
    width: 150px;
	height: auto;
}

header #menu a{
    text-decoration: none;
    font-weight: bold;
    color: #0C3B4C;
    margin: 20px;
    padding: 5px;
    font-size: 24px;
    border-radius: 5px;
    transition: 0.3s;
}

header #menu a:hover{
    background-color: #0C3B4C;
    color: #FFFFFF;
    
}

header #reseaux_sociaux{
    width: 215px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header #reseaux_sociaux img{
    width: 35px;
	height: auto;
    transition: 0.3s;
}

header #reseaux_sociaux img:hover{
    transform: scale(1.3);
}

header #langues{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

header button{
    width: 40px;
    background-color: transparent;
    border: none;
    font-size: 24px;
    text-align: center;
    border-radius: 3px;
    transition: 0.3s;
}

header button:hover{
    background-color: #0C3B4C;
    color: #FFFFFF;
}

header button.active{
    font-weight: bold;
}

/* Footer global */

footer{
    background-color: #3B3B3B;
    color: #FFFFFF;
    width: 100%;
}

#top_footer{
    width: 1500px;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 33px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

footer a{
    text-decoration: none;
    color: #FFFFFF;
}

footer a:hover{
    font-weight: bold;
}

footer #liens{
    width: 640px;
    height: 140px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 20px;
}

footer #liens div{
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

footer #localisation{
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

footer #texte_carte{
    width: 290px;
}

footer #texte_carte #titre_carte{
    font-size: 24px;
    font-weight: bold;
}

footer #texte_carte #adresse_carte{
    font-size: 20px;
    margin-top: 10px;
    margin-left: 30px;
}

footer #carte .leaflet-control-zoom, footer #carte .leaflet-control-attribution{
    display: none;
}

#trait{
    background-color: #FFFFFF;
    margin: 0 50px;
}

#bottom_footer{
    width: 1740px;
    margin: auto;
    margin-top: 11px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;    
    padding-bottom: 30px;
}

footer #droits{
    width: 420px;
    text-align: center;
}

footer #realisation{
    width: 190px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

footer #realisation img{
    width: 40px;
    
}

footer #reglements{
    width: 720px;
    text-align: center;
    word-wrap: break-word;
}

footer #reglements a{
    margin: 0 4px;
}

/* Banière */

#banniere{
    background-color: rgba(12, 59, 76,0.5);
}

#photos_banniere img{
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}

/*********/
/* INDEX */
/*********/

#corps_page{
    background-color: rgba(12, 59, 76,0.5);
    padding: 50px;
    color: #FFFFFF;
}

#entete{
    background-color: #EF476F;
    text-align: center;
    border-radius: 100px;
    color: #FFFFFF;
    padding: 40px;
    margin-bottom: 100px;
}

#entete #titre_entete{
    font-size: 50px;
    margin-bottom: 20px;
}

#entete #description_entete{
    font-size: 25px;
}

#promo_video{
    background-color: rgba(239, 71, 111, 0.35);
    color: #FFFFFF;
    display: flex;
    margin: auto;
}

#lavideo{
    width: 800px;
}

#texte_video{
    margin: 30px;
    padding-top: 110px;
}

#titre_video{
    font-size: 40px;
    padding-bottom: 40px;
}

#description_video{
    font-size: 20px;
}

/* GALERIE */

#preview_galeries{
    background-color: #118AB2;
    color: #FFFFFF;
    text-align: center;
    padding-bottom: 20px;
    margin-top: 40px;
}

#titre_preview_galeries{
    font-size: 40px;
    padding: 20px;
}

#preview_photos{
    width: 90%;
    display: flex;
    justify-content: space-around;
	margin: auto;
 	flex-basis: 25%;
	text-align: center;
	flex-wrap: wrap;
}

#preview_photos img{
    width: 350px;
    text-align: center;
	margin: 4px;
    margin-bottom: 15px;
	opacity: 50%;
    transition: 0.3s;
}

#preview_photos img:hover{
    opacity: 1;
}

/* RESERVATION */

#reservation{
    background-color: #EF476F;
    text-align: center;
    border-radius: 80px;
    color: #FFFFFF;
    padding: 40px;
    margin-bottom: 100px;
    margin-top: 50px;
}

#reservation #titre_reservation{
    font-size: 50px;
    margin-bottom: 40px;
}

#reservation #contenu_reservation{
    font-size: 25px;
    display: flex;
   
}

#contenu_reservation #butt_reservation{
    padding-top: 50px;
}

#contenu_reservation #lien_reservation{
    background-color: #41D882;
    border-radius: 50px;
    text-decoration: none;
    color: #FFFFFF;
    text-align: center;
    padding: 15px;
    font-weight: bold;
    font-size: 35px;
    margin-left: 150px;
    
}

#contenu_reservation #description_reservation{
    width: 400px;
    margin-left: 180px;
    padding-top: 50px;
}

#tarifs{
    display: block;
    margin-left: 150px;
}

#prix_adulte{
    padding-bottom: 20px;
}

#prix_adulte span{
    font-size: 40px;
}

#prix_enfant{
   padding-bottom: 40px;  
}

#prix_enfant span{
    font-size: 40px;
}

#explication_asterisque{
    font-size: 15px;
    position: relative;
    top: 35px;
    left: 100px;
}

/* PARTENAIRES */

#partenaires{
    background-color:rgba(0,0,0,0.5);
    color: #FFFFFF;
    text-align: center;
    padding: 30px;    
}

#titre_partenaires{
    font-size: 50px;
    margin-bottom: 20px;
}

#description_partenaires{
    font-size: 20px;
}

#images_partenaires{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#images_partenaires img{
    width: 250px;
    margin: 0 20px;
}

/* CHEMIN */

#chemin{
    color: #FFFFFF;
    font-size: 25px;
    line-height: 1;
    margin-bottom: 10px;
    position: absolute;
    top: 430px; 
    left: 200px;
    width: 600px; 
    height: 400px; 
    z-index: 2;
}

#chemin a{
    text-decoration: none;
    color: #FFFFFF;
}

#icon_accueil{
    width: 39px;
    position: relative;
    top: 5px;
}

/**************/
/* PARTENAIRE */
/**************/

#titre_partenairesp{
    font-size: 50px;
    margin-left: 350px;
}

#texte_p_partenaires{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 370px;
    font-size: 20px;
    
}

.partenaire{
    background: linear-gradient(#AABAC0, #808080);
    width: 800px;
    height: 600px;
    margin: 20px;
    position: relative;
}

.img_partenaire{
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.partenaire .explication_partenaire{
    background-color: rgba(32, 30, 30, 0.38);
    width: 700px;
    height: 470px;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    opacity: 0;
    transition: 0.3s;
}

.partenaire:hover .explication_partenaire{
    opacity: 1;
}

.partenaire .explication_partenaire .nom_partenaire{
    font-size: 38px;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 15px;
}

.partenaire .explication_partenaire .infos_partenaire{
    font-size: 20px;
    text-align: justify;
    padding: 0 5px;
    line-height: 25px;
}

#corps_page .item_pagep{
    margin: auto;
	text-align: center;
	flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    align-items: center;
 	flex-basis: 25%;
    color: #FFFFFF;
}

/*************/
/* EVENEMENT */
/*************/

#titre_evenement{
    font-size: 50px;
    margin-left: 350px;
}

#texte_p_evenement{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 370px;
    font-size: 20px;
    
}

.contenu_evenement{
    text-align: center;
}

.entete_evenement h2{
    font-size: 40px;
    padding-top: 20px;
}

.entete_evenement p{
    font-size: 20px;
    padding-top: 40px;
    text-align: left;
    margin-left: 380px;
    margin-bottom: 60px;
}
.entete_evenement a{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
}

.infos_evenement{
    display: block;
    margin: 100px;
    margin-top: 50px;
}

.presentation{
    display: flex;
    background-color: rgba(239, 71, 111,0.35);
    margin-top: 50px;
}

.professionels{
    display:flex;
    background-color: rgba(62, 72, 214,0.35);
    margin-top: 50px;
}

.souvenir{
    display: flex;
    background-color: rgba(132, 239, 71,0.35);
    margin-top: 50px;
}

#img_presentation{
    width: 750px;
}

#img_professionels{
    width: 750px;
    height: 550px;
}

#img_souvenir{
    width: 750px;
}

.texte_presentation h3{
    text-align: left;
    font-size: 40px;
    margin: 30px;
    }

.texte_professionels h3{
    text-align: left;
    font-size: 40px;
    margin: 30px;
    margin-top: 80px;
    }

.texte_souvenir h3{
    text-align: left;
    font-size: 40px;
    margin: 30px;
    margin-top: 100px
    }

.texte_presentation ul{
    text-align: left;
    font-size: 25px;
    margin: 30px;
    margin-left: 55px;
}

.texte_presentation p{
   text-align: justify;
    font-size: 25px; 
    margin: 30px;
}

.texte_professionels p{
   text-align: justify;
    font-size: 25px; 
    margin: 30px;
}

.texte_souvenir p{
   text-align: justify;
    font-size: 25px; 
    margin: 30px;
}

.citation{
    font-style: italic;
}

.auteur{
    margin-left: 450px;
    text-align: right;
    font-size: 25px;
}
.tarifs{
    background-color: #EF476F;
    text-align: center;
    border-radius: 80px;
    color: #FFFFFF;
    padding-bottom: 10px;
    margin-top: 150px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tarifs h3{
    font-size: 50px;
    padding: 30px;
}

.tarifs p{
    font-size: 25px;
    padding-bottom: 20px;
}

#prix_tarifs{
    display: block;
    font-size: 20px;
}

.lien_inscription{
    background-color: #41D882;
    border-radius: 50px;
    text-decoration: none;
    color: #FFFFFF;
    text-align: center;
    padding: 15px;
    font-weight: bold;
    font-size: 40px;
    align-items: center; 
}

.tarifs #explication_asterisque{
    position: relative;
    top: 0;
    left: 500px;    
}

/***********/
/* CONTACT */
/***********/

#titre_contact{
    font-size: 50px;
    margin-left: 350px;
}

.entete_contact p{
   padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 370px;
    font-size: 20px; 
}

.contenu_contact{
    display: flex;
    margin-top: 40px;
}

#infos_contact{
    display: block;
    width: 600px;
    border-right: 3px solid #FFFFFF;
    padding: 100px;
}

.logo{
    width: 50%;
    padding-bottom: 60px;
    margin-left: 50px;
}

.element_contact{
    font-size: 25px;
    padding-bottom: 40px;
}

#adresse_contact{
    margin-left: 20px;
}

#adresse_contact strong{
    margin-left: -20px;
}

.element_contact a{
    text-decoration: none;
    color: #FFFFFF;
}

#formulaire_contact{
    padding: 50px;
}

.element_formulaire{
    font-size: 20px;
    padding-top: 15px;
}

#civilite{
    margin-left: 50px;  
    margin-top: 10px;
    padding: 10px;
}
#prenom{
    margin-left: 50px;
    margin-top: 10px;
    padding: 10px;
}
#nom{
    margin-left: 50px;
    margin-top: 10px;
    padding: 10px;
}
#mail{
    margin-left: 50px; 
    margin-top: 10px;
    padding: 10px;
}
#sujet{
    margin-left: 50px; 
    margin-top: 10px;
    padding: 10px;
}
#message{
    margin-left: 50px;
    margin-top: 10px;
    width: 700px;
    max-width: 1000px;
    height: 300px;
    min-height: 300px;
}

#envoie{
   background-color: #41D882;
    border-radius: 50px;
    text-decoration: none;
    color: #FFFFFF;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-weight: bold;
    align-items: center; 
    border-style: none;
    font-size: 25px;
}

#envoie:hover{
    cursor: default;
}

/************/
/* GALERIES */
/************/

#titre_galeries{
    font-size: 50px;
    margin-left: 350px;
}

#texte_p_galeries{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 370px;
    font-size: 20px; 
}

.titre_categorie{
    text-transform: uppercase;
    color: #EF476F;
    font-size: 40px;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: 250px;
    font-family: "Noto Sans";
    font-weight: bold;
    font-style: italic;
}

.contenu_galeries{
    color: #FFFFFF;
    padding-bottom: 20px;
    margin-top: 40px;
}

.ensemble_categorie{
    display: flex;
	margin-left: 8%;
 	flex-basis: 25%;
	text-align: center;
	flex-wrap: wrap;
    justify-content: space-around;
}

.categorie_communique .ensemble_categorie{
    justify-content: flex-start;
    position: relative;
}

.ensemble_categorie img{
    width: 450px;
    text-align: center;	
}

.videos{
    margin-left: 50px; 
    width: 720px;
}

#presse_galerie{
    width: 700px;
    position: relative;
    overflow: hidden;
}

#presse_galerie img{
    width: 100%;
}

#presse_galerie .lien_download{
    position: absolute;
    bottom: -40px;
    width: 100%;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    transition: 0.3s;
}

#presse_galerie:hover .lien_download{
    bottom: 0;
}

#presse_galerie .lien_download .icon_download{
    width: 40px;
    margin: 0 40px;
}

#lien_telechargement_presse{
  background-color: #41D882;
    border-radius: 50px;
    text-decoration: none;
    color: #FFFFFF;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-weight: bold;
    align-items: center; 
    border-style: none;
    font-size: 25px;
    position: absolute;
    margin-left: 1000px;
    margin-top: 250px;
}

.titre_communique{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #EF476F;
    font-family: "Noto Sans";
    font-size: 32px;
    font-weight: bold;
    font-style: italic;
}

.download_image{
    position: relative;
    width: 450px;
    margin-bottom: 15px;
    overflow: hidden;
}

.download_image .lien_download{
    position: absolute;
    bottom: -40px;
    width: 100%;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;
}

.download_image:hover .lien_download{
    bottom: 0;
}

.download_image img.photo_galerie{
    width: 100%;
    height: 100%;
}

.download_image .lien_download .icon_download{
    width: 40px;
    margin: 0 40px;
}

/****************/
/* INFORMATIONS */
/****************/

.contenu_informations{
    display: block;
}

#titre_informations{
   font-size: 50px;
    margin-left: 350px;
}

#texte_p_informations{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 370px;
    font-size: 20px;   
}

.titre_contenu{
    font-size: 40px;
    padding-top: 20px;
    text-align: center;
}

.sous_titre_contenu{
    font-size: 20px;
    padding-top: 40px;
    text-align: center;
}

.informations_explications{
    display: flex;
    background-color: rgba(132, 239, 71,0.35);
    margin-top: 50px;
}

.informations_programme{
    display: flex;
    background-color: rgba(62, 72, 214,0.35);
    margin-top: 50px;
}

.informations_inscription{
    display: flex;
     background-color: rgba(239, 71, 111,0.35);
    margin-top: 50px;
} 

.informations_exposants{
    display: flex;
    background-color: rgba(214, 148, 62,0.35);
    margin-top: 50px;
} 

.informations_photos{
    display: block;
    background-color: rgba(233, 50, 50,0.35);
    margin-top: 50px;
}
.img_photos{
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.img_explications img{
    width: 750px;
    height: 500px;
}

.img_programme img{
    width: 750px; 
    height: 500px;
}

.img_inscription img{
    width: 750px; 
    height: 520px;
} 

.img_exposants img{
    width: 750px;
    height: 520px;
} 

#couleurs{
    display: block;
    margin: 100px;
    margin-top: 50px;
    
}

.informations_img_photos{
    width: 25%;
    margin: 25px;
}

.titre_explications{
    text-align: left;
    font-size: 40px;
    margin: 30px;
    margin-top: 75px;
    }

.titre_programme{
    text-align: left;
    font-size: 40px;
    margin: 30px;
    
    }

.titre_inscription{
    text-align: left;
    font-size: 40px;
    margin: 30px;
    margin-top: 60px;
    }

.titre_exposants{
    text-align: left;
    font-size: 40px;
    margin: 30px;
    margin-top: 80px
    }

.texte_explications{
    width: 1500px;
}

.texte_explications p{
   text-align: justify;
    font-size: 25px; 
    margin: 30px;
}

.texte_programme p{
   text-align: justify;
    font-size: 25px; 
    margin: 30px;
}

.texte_inscription p{
   text-align: justify;
    font-size: 25px; 
    margin: 30px;
}

.texte_exposants p{
   text-align: justify;
    font-size: 25px; 
    margin: 30px;
}

.lien_inscription1{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
}

.titre_photos{
    font-size: 40px;
    text-align: center;
    padding-top: 50px;
}

/*MENTIONS LEGALES*/

#titre_mentions_legales{
    font-size: 50px;
    margin-left: 350px;
}

#sous-titre-mention{
   padding-top: 20px;
    padding-bottom:20px;
    padding-left: 370px;
    font-size: 20px;  
}

.contenu_mentions_legales{
    background-color: #E7E6E8;
    color: black;
    padding:50px;
    border-radius: 50px;
    margin-top: 25px;
}

#infos_legales p{
    font-size: 20px;
    text-align: justify;
}

#presentation_principe p{
    font-size: 20px;
    text-align: justify; 
}

#hypertextes_cookies p{
    font-size: 20px;
    text-align: justify;
}

#donnees_personnelles p{
    font-size: 20px;
    text-align: justify;
}

#accessibilite p{
   font-size: 20px;
    text-align: justify; 
}

#propriete_intellectuelle p{
    font-size: 20px;
    text-align: justify;
}

#protection_bdd{
   font-size: 20px;
    text-align: justify;  
}

#paragraphe_gras {
    font-size: 20px;
    text-align: justify;
    font-weight: bold;
}

.contenu_mentions_legales h3{
    font-size: 40px;
    padding-top: 20px;
    padding-bottom: 10px;
}

#mention_loi{
    font-size: 30px;
}

/*CONFIDENTIALITE*/

#titre_confidentialite{
     font-size: 50px;
    margin-left: 350px;
}

#sous_titre_confidentialite{
    padding-top: 20px;
    padding-bottom:20px;
    padding-left: 370px;
    font-size: 20px;  
}

.contenu_confidentialite {
    background-color: #E7E6E8;
    color: black;
    padding:50px;
    border-radius: 50px;
    margin-top: 25px;
}

#donnees_collectees p{
    font-size: 20px;
    text-align: justify;
}

#donnees_recoltees p{
    font-size: 20px;
    text-align: justify;
}

#donnees_raison p{
    font-size: 20px;
    text-align: justify; 
}

#donnees_destination p{
    font-size: 20px;
    text-align: justify;
}

#donnees_protection p{
    font-size: 20px;
    text-align: justify;
}

#donnees_droits p{
   font-size: 20px;
    text-align: justify; 
}

#donnees_conservation p{
    font-size: 20px;
    text-align: justify;
}

#donnees_transfert p{
    font-size: 20px;
    text-align: justify;
}

#donnees_modification p{
    font-size: 20px;
    text-align: justify;
}

.contenu_confidentialite h3{
    font-size: 40px;
    padding-top: 20px;
    padding-bottom: 10px;
}

/*COOKIES*/
#titre_cookies{
  
    font-size: 50px;
    margin-left: 350px;  
}

#sous_titres_cookies{
    padding-top: 20px;
    padding-bottom:20px;
    padding-left: 370px;
    font-size: 20px;
}   

.contenu_cookies {
    background-color: #E7E6E8;
    color: black;
    padding:50px;
    border-radius: 50px;
    margin-top: 25px;
}


#infos_cookies p{
    font-size: 20px;
    text-align: justify;
}

#utilisation_cookies p{
    font-size: 20px;
    text-align: justify;
}

#parametrage_cookies p{
    font-size: 20px;
    text-align: justify; 
}

#desactivation_cookies p{
    font-size: 20px;
    text-align: justify;
}

.contenu_cookies h3{
    font-size: 40px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.contenu_cookies h4{
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 50px;
}

/*********/
/* VENTE */
/*********/

#titre_conditions_vente{
  
    font-size: 50px;
    margin-left: 350px;  
    margin-bottom: 20px;
}  

#contenu_conditions_vente {
    background-color: #E7E6E8;
    color: black;
    padding:50px;
    border-radius: 50px;
    margin-top: 25px;
}


#contenu_conditions_vente p{
    font-size: 20px;
    text-align: justify;
}


#contenu_conditions_vente h3{
    font-size: 40px;
    padding-top: 20px;
    padding-bottom: 10px;
}

#presentation_agence p{
    padding-bottom: 20px;
}

/*INSCRIPTION*/

#titre_inscription{
  
    font-size: 50px;
    margin-left: 350px;  
}  

#sous_titres_inscription{
    padding-top: 20px;
    padding-bottom:20px;
    padding-left: 370px;
    font-size: 20px;
}

#entete_formulaire h3{
    font-size: 20px;
    padding: 10px;
    background-color:#EF476F ;
    width: 1000px;
    height: 40px;
    margin-top: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    padding-left: 50px;
}

#tableau_formulaire{
    background-color: white;
    width: 1000px;
    height: 400px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

#tableau_formulaire table{
    border: 1px solid #707070;
    width: 900px;
    height: 300px;
    color: black;
    font-size: 20px;
    margin: auto;
    position: relative;
    top: 50px;
}

#btn1_moins_tableau img{
    width: 30px;
}

#btn2_moins_tableau img{
    width: 30px;
}

#btn1_plus_tableau img{
    width: 30px;
}

#btn2_plus_tableau img{
    width: 30px;
}

.entete_tableau{
    background-color: #707070;
    color: white;
    height: 40px;
}

tr:last-child{
    height: 80px;
}

td[colspan=4]{
    position: relative;
}

#lien_panier{
    color: #FFFFFF;
    background-color: #6592B4;
    text-decoration: none;
    padding: 15px;
    border-radius: 50px;
    margin-top: 50px;
    position: absolute;
    bottom: 12px;
    right: 25px;
}

#montant1_tableau{
    font-size: 30px;
}

#montant2_tableau{
font-size: 30px;
}

.prix_tableau{
font-size: 30px;
}

.montant{
    text-align: right;
    padding-right: 5px;
}

table {
    border-collapse:collapse;
    width: 90%;
}

th, td {
    border-bottom:1px solid black;
    width:20%;
    text-align: center;
}

td:nth-child(3){
    width: 100%;
    height: 101%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

td button{
    border: none;
    background-color: #FFFFFF;
}

th:last-child{
    text-align: right;
    padding-right: 5px;
}

.contenu_inscription{
    margin: auto;
    margin-left: 380px;
}

.gauche{
    text-align: left;
    padding-left: 5px;
}

/*PANIER*/
#titre_panier{
    font-size: 50px;
    margin-left: 350px;  
}  

#sous_titres_panier{
    padding-top: 20px;
    padding-bottom:20px;
    padding-left: 370px;
    font-size: 20px;
}

.panier_detail{
    background-color: white;
    border-radius: 50px;
    width: 900px;
    height: 900px;
    margin: 50px;
    margin-left: 30px;
}

.panier_detail button{
    border: none;
    background-color: #FFFFFF;
    margin: 0 10px;
}

.titre_panier_vue{
    color: #6592B4;
    font-size: 40px;
    padding: 50px;
}

#traitgris{
   background-color: #707070;
    margin: 0 50px; 
}

.place_enfant{
    border: 1px solid #707070;
    color: black;
    border-radius: 50px;
    width: 90%;
    margin: 50px;
    position: relative;
}

.preview_ticket{
    width: 400px;
    padding: 30px;
}

.entete_place{
    display: flex;
}

#moins1 img{
  width:30px;  
}

#moins2 img{
 width:30px;   
}   
    
#plus1 img{
 width:30px;   
}    

#plus2 img{
 width:30px;   
}

.place_adulte{
  border: 1px solid #707070;
    color: black;
    border-radius: 50px; 
    width: 90%;
    margin: 50px;
    position: relative;
}

.entete_place p{
    font-size: 25px;
    padding-top: 50px;
}

.quantite{
    font-size: 30px;
}

.reglage_quantite{
    position:absolute;
    right: 20px;
    bottom: 20px;
        
}

.contenu_panier{
    display: flex;
}

.panier_resume{
    background-color: white;
    border-radius: 50px;
    width: 900px;
    height: 800px;
    margin-top: 50px;
    margin-right: 50px;
    color: #6592B4;
}

#lien_paiement{
    color: white;
    background-color: #6592B4;
    text-decoration: none;
    padding: 15px;
    border: none;
    border-radius: 50px;
    font-size: 30px;
    top: 70px;
    left: 25%;
    position: relative;
    padding-left:200px;
    padding-right: 200px;
}

.panier_resume p{
    font-size: 40px;
    padding: 60px;
    padding-bottom: 0;
    
}

.total_paiement{
    text-align: right;
    font-size: 40px;
    padding: 80px;
}

/*F.A.Q.*/

#titre_faq{
    font-size: 50px;
    margin-left: 350px;    
}

#texte_p_faq{
   padding-top: 20px;
    padding-bottom:20px;
    padding-left: 370px;
    font-size: 20px; 
}

.contenu_faq{
    color: black;
}

.faq_question{
    display: block;
}

.question{
    background-color: white;
    border-radius: 50px;
    font-size: 30px;
    display: flex;
    margin-right: 100px;
    margin-top:100px;
    width: 1300px;
    margin-left: 180px;
}

.bouton{
    position: absolute;
    left: 1450px;
    background-color: white;
    border: none;
}

.bouton img{
    width:50px;
}

.question p{
    padding:15px;
    
}

.reponse{
    background-color: #D8D8D8;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    font-size: 20px;
    display: none;
    margin-left: 220px;
    width: 1200px;
    height: 200px;
    
}

.reponse p{
   padding: 30px; 
    text-align: justify;
}


/******************************************************/
/* MEDIA QUERIE RESPONSIVE POUR LES ECRANS DE -960px; */
/******************************************************/

@media screen and (max-width: 960px){
    /********************/
    /* HEADER principal */ 
    /********************/
    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 2;
        overflow: visible;
    }
    
    header #logo, header #icon_menu_ouvert{
        margin: 0 25px;
    }
    
    header button#icon_menu_ouvert{
        display: block;
    }
    
    header button#icon_menu_ouvert:hover, header button#icon_menu_ferme:hover{
        background-color: #FFFFFF;
    }
    
    header button#icon_menu_ouvert img, header button#icon_menu_ferme img{
        width: 40px;
    }
    
    header #menu_deroulant{
        height: 100%;
        width: 80%;
        padding-top: 80px;
        display: none;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.75);
        position: fixed;
        top: 0;
        left: 20%;
        z-index: 3;
    }
    
    header #menu_deroulant button#icon_menu_ferme{
        align-self: flex-end;
        position: relative;
        top: -28px;
        left: -45px;
    }
    
    header #menu_deroulant button#icon_menu_ferme:hover{
        background-color: rgba(0, 0, 0, 0);
    }
    
    header #menu_deroulant #menu{
        align-self: flex-start;
        margin-left: 50px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    header #menu_deroulant #langues{
        display: flex;
        flex-direction: row;        
    }
    
    header #menu_deroulant #langues button{
        color: #FFFFFF;
        margin: 10px;
    }
    
    header #menu_deroulant #menu a{
        color: #FFFFFF;
    }
    
    header #menu_deroulant button#icon_menu_ferme{
        display: block;
    }
    
    /********************/
    /* FOOTER principal */ 
    /********************/
    footer #top_footer{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    
    footer #top_footer #liens{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    
    footer #top_footer #liens div{
        width: 45%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 15px;
    }
    
    footer #top_footer #localisation{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 80px;
    }
    
    footer #top_footer #localisation #titre_carte{
        text-align: center;
    }
    
    footer #top_footer #localisation #adresse_carte{
        margin: 10px 0;
    }
    
    footer #bottom_footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    
    footer #bottom_footer div{
        margin: 10px 0;
    }
    
    /*********************/
    /* BANNIERE générale */
    /*********************/
    
    #banniere{
        position: relative;
        z-index: 1;
    }
    
    #chemin{
        top: 110px;
        left: 100px;
    }
    
    #photos_banniere img{
        width: 100%;
        height: auto;
    }
    
    /*********/
    /* INDEX */ 
    /*********/
    #promo_video{
        display: flex;
        flex-direction: column-reverse;        
    }
    
    #promo_video #texte_video{
        padding: 10px 0;
    } 
    
    #promo_video #video, #promo_video #video video{
        width: 100%;
    }
    
    #preview_galeries #preview_photos{
        max-height: 1185px;
        overflow-y: scroll;
    }
    
    #preview_galeries #preview_photos img{
        width: 40%;
        opacity: 1;
    }
    
    #reservation #contenu_reservation{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #reservation #contenu_reservation #butt_reservation{
        order: 2;
        margin: 20px 0;
        padding: 0;
    }
    
    #reservation #contenu_reservation #butt_reservation a{
        margin: 0;
    }
    
    #reservation #contenu_reservation #description_reservation{
        order: 1;
        margin: 0;
        margin-bottom: 20px;
        padding: 0;
    }
    
    #reservation #contenu_reservation #tarifs{
        order: 3;
        margin: 0;
        margin-top: 20px;
        padding: 0;
    }
    
    #partenaires #images_partenaires{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }
    
    #partenaires #images_partenaires img{
        margin: 15px;
    }
    
    
    /*************/
    /* EVENEMENT */ 
    /*************/
    
    #corps_page .titre_entete #titre_evenement, #corps_page .titre_entete #texte_p_evenement{
        margin: 15px 0;
        padding: 0;
        text-align: center;
    }
    
    #corps_page .contenu_evenement .entete_evenement p{
        margin: 0;
        text-align: justify;
    }
    
    #corps_page .contenu_evenement .infos_evenement .presentation{
        width: 100%;
        padding-bottom: 10px;
        display: flex;
        flex-direction: column;
    }
    
    #corps_page .contenu_evenement .infos_evenement .presentation #img_presentation{
        width: 100%;
    }
    
    #corps_page .contenu_evenement .infos_evenement .professionels{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    #corps_page .contenu_evenement .infos_evenement .professionels .texte_professionels h3{
        margin-top: 25px;
    }
    
    #corps_page .contenu_evenement .infos_evenement .professionels #img_professionels{
        width: 100%;
    }
    
    #corps_page .contenu_evenement .infos_evenement .souvenir{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    #corps_page .contenu_evenement .infos_evenement .souvenir .texte_souvenir h3{
        margin-top: 25px;
    }
    
    #corps_page .contenu_evenement .infos_evenement .souvenir #img_souvenir{
        width: 100%;
    }
    
    #corps_page .contenu_evenement .infos_evenement .tarifs{
        padding-bottom: 30px;
    }  
    
    #corps_page .contenu_evenement .infos_evenement .tarifs #explication_asterisque{
        top: 20px;
        left: 60px;
    }   
    
    
    /****************/
    /* INFORMATIONS */ 
    /****************/
    
    #corps_page .titre_entete #titre_informations, #corps_page .titre_entete #texte_p_informations{
        margin: 15px 0;
        padding: 0;
        text-align: center;
    }
    
    #corps_page .contenu_informations #couleurs .informations_explications{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    #corps_page .contenu_informations #couleurs .informations_explications .texte_explications{
        width: 100%;
    }
    
    #corps_page .contenu_informations #couleurs .informations_explications .texte_explications .titre_explications{
        margin-top: 30px;
    }
    
    #corps_page .contenu_informations #couleurs .informations_explications .img_explication, #corps_page .contenu_informations #couleurs .informations_explications .img_explications img{
        width: 100%;
    }
    
    #corps_page .contenu_informations #couleurs .informations_programme{
        width: 100%;
        padding-bottom: 10px;
        display: flex;
        flex-direction: column;
    }
    
    #corps_page .contenu_informations #couleurs .informations_programme .texte_programme{
        width: 100%;
    }
    
    #corps_page .contenu_informations #couleurs .informations_programme .texte_programme .titre_programme{
        margin-top: 30px;
    }
    
    #corps_page .contenu_informations #couleurs .informations_programme .img_programme, #corps_page .contenu_informations #couleurs .informations_programme .img_programme img{
        width: 100%;
    }
    
    #corps_page .contenu_informations #couleurs .informations_inscription{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    #corps_page .contenu_informations #couleurs .informations_inscription .texte_inscription{
        width: 100%;
    }
    
    #corps_page .contenu_informations #couleurs .informations_inscription .texte_inscription .titre_inscription{
        margin-top: 30px;
    }
    
    #corps_page .contenu_informations #couleurs .informations_inscription .img_inscription, #corps_page .contenu_informations #couleurs .informations_inscription .img_inscription img{
        width: 100%;
    }
    
    #corps_page .contenu_informations #couleurs .informations_exposants{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    #corps_page .contenu_informations #couleurs .informations_exposants .texte_exposants{
        width: 100%;
    }
    
    #corps_page .contenu_informations #couleurs .informations_exposants .texte_exposants .titre_exposants{
        margin-top: 30px;
    }
    
    #corps_page .contenu_informations #couleurs .informations_exposants .img_exposants, #corps_page .contenu_informations #couleurs .informations_exposants .img_exposants img{
        width: 100%;
    }
    
        
    /***************/
    /* PARTENAIRES */ 
    /***************/
    
    #corps_page .entete_partenaire #titre_partenairesp, #corps_page .entete_partenaire #texte_p_partenaires{
        margin: 15px 0;
        padding: 0;
        text-align: center;
    }
    
    
    /***************/
    /* INSCRIPTION */ 
    /***************/ 
    
    #corps_page .titre_entete #titre_inscription, #corps_page .titre_entete #sous_titres_inscription{
        margin: 15px 0;
        padding: 0;
        text-align: center;
    }
    
    #corps_page .contenu_inscription{
        margin: auto;
    }
    
    #corps_page .contenu_inscription .formulaire_inscription #entete_formulaire h3, #corps_page .contenu_inscription .formulaire_inscription #tableau_formulaire, #corps_page .contenu_inscription .formulaire_inscription #tableau_formulaire table{
        width: 90%;
        margin: auto;
    }
    
    
    /************/
    /* GALERIES */ 
    /************/
    
    #corps_page .titre_entete #titre_galeries, #corps_page .titre_entete #texte_p_galeries{
        margin: 15px 0;
        padding: 0;
        text-align: center;
    }
    
    #corps_page .contenu_galeries .ensemble_categorie{
        margin: 0;
    }
    
    #corps_page .contenu_galeries .titre_categorie{
        margin: 50px auto;
        text-align: center;
    }
    
    #corps_page .contenu_galeries .categorie_communique .ensemble_categorie{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 80px;
    }
    
    #corps_page .contenu_galeries .categorie_communique .ensemble_categorie .titre_communique{
        left: 50%;
    }
    
    #corps_page .contenu_galeries .categorie_communique .ensemble_categorie #lien_telechargement_presse{
        margin: 0;
        bottom: 0;
    }
    
    
    /**********/
    /* F.A.Q. */ 
    /**********/
    
    #corps_page .titre_entete #titre_faq, #corps_page .titre_entete #texte_p_faq{
        margin: 15px 0;
        padding: 0;
        text-align: center;
    }
    
    #corps_page .contenu_faq .faq_question .question{
        margin: auto;
        margin-top: 20px;
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    #corps_page .contenu_faq .faq_question .question .bouton{
        margin: 0;
        margin-right: 25px;
    }
    
    #corps_page .contenu_faq .faq_question .reponse{
        margin: auto;
        width: 80%;
    }
    
    .faq_question .bouton{
        position: absolute;
        left: 700px;      
    }
    
    /***********/
    /* CONTACT */ 
    /***********/
    
    #corps_page .entete_contact #titre_contact, #corps_page .entete_contact p{
        margin: 15px 0;
        padding: 0;
        text-align: center;
    }
    
    #corps_page .contenu_contact{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #corps_page .contenu_contact #infos_contact{
        display: flex;
        flex-direction: column;
        align-items: center;
        border: none;
        border-bottom: 2px #FFFFFF solid;
        padding-top: 0;
        padding-bottom: 20px;
    }
    
    #corps_page .contenu_contact #infos_contact p:nth-child(n+1){
        align-self: flex-start;
    }
    
    #corps_page .contenu_contact #formulaire_contact form #message{
        resize: none;
    }
    
    
    /********************/
    /* MENTIONS LEGALES */ 
    /********************/
    
    #corps_page .titre_entete #titre_mentions_legales, #corps_page .titre_entete #sous-titre-mention{
        margin: 15px 0;
        padding: 0;
        text-align: center;
    }
    
    
    /*******************/
    /* CONFIDENTIALITE */ 
    /*******************/
    
    #corps_page .titre_entete #titre_confidentialite, #corps_page .titre_entete #sous_titre_confidentialite{
        margin: 15px 0;
        padding: 0;
        text-align: center;
    }
    
    
    /***********/
    /* COOKIES */ 
    /***********/
    
    #corps_page .titre_entete #titre_cookies, #corps_page .titre_entete #sous_titres_cookies{
        margin: 15px 0;
        padding: 0;
        text-align: center;
    }
    
    
    /**********/
    /* VENTES */ 
    /**********/
    
    #corps_page .titre_entete #titre_conditions_vente{
        margin: 15px 0;
        padding: 0;
        text-align: center;
    }
    
    
    /**********/
    /* PANIER */
    /**********/
    
    #corps_page .titre_entete #titre_panier, #corps_page .titre_entete #sous_titres_panier{
        margin: 15px 0;
        padding: 0;
        text-align: center;
    }
    
    #corps_page .contenu_panier{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #corps_page .contenu_panier .panier_detail, #corps_page .contenu_panier .panier_resume{
        margin: auto;
        margin-top: 20px;
        width: 90%;
    }
}