*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

html{
    font-size: 62.5%;
}

/* Header global */

header{
    height: 150px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

header #logo{
    display: inline-block;
    width: 10%;
    text-align: center;
}

header img{
    width: 150px;
	height: auto;
}

header #menu a{
    text-decoration: none;
    font-weight: bold;
    color: #0C3B4C;
    margin: 20px;
    padding: 5px;
    font-size: 24px;
    border-radius: 5px;
    transition: 0.3s;
}

header #menu a:hover{
    background-color: #0C3B4C;
    color: #FFFFFF;
    
}

header #reseaux_sociaux{
    width: 215px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header #reseaux_sociaux img{
    width: 35px;
	height: auto;
    transition: 0.3s;
}

header #reseaux_sociaux img:hover{
    transform: scale(1.3);
}

header #langues{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

header button{
    width: 40px;
    background-color: transparent;
    border: none;
    font-size: 24px;
    text-align: center;
    border-radius: 3px;
    transition: 0.3s;
}

header button:hover{
    background-color: #0C3B4C;
    color: #FFFFFF;
}

header button.active{
    font-weight: bold;
}

/* Footer global */

footer{
    background-color: #3B3B3B;
    color: #FFFFFF;
    width: 100%;
    height: 340px;
}

#top_footer{
    width: 1500px;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 33px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

footer a{
    text-decoration: none;
    color: #FFFFFF;
}

footer a:hover{
    font-weight: bold;
}

footer #liens{
    width: 640px;
    height: 140px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 20px;
}

footer #liens div{
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

footer #localisation{
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

footer #texte_carte{
    width: 290px;
}

footer #texte_carte #titre_carte{
    font-size: 24px;
    font-weight: bold;
}

footer #texte_carte #adresse_carte{
    font-size: 20px;
    margin-top: 10px;
    margin-left: 30px;
}

footer #carte .leaflet-control-zoom, footer #carte .leaflet-control-attribution{
    display: none;
}

#trait{
    background-color: #FFFFFF;
    margin: 0 50px;
}

#bottom_footer{
    width: 1740px;
    margin: auto;
    margin-top: 11px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;     
}

footer #droits{
    width: 420px;
    text-align: center;
}

footer #realisation{
    width: 190px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

footer #realisation img{
    width: 40px;
    
}

footer #reglements{
    width: 720px;
    text-align: center;
    word-wrap: break-word;
}

footer #reglements a{
    margin: 0 4px;
}

/* Banière */

#banniere{
    position: relative; 
    height: 300px;
    overflow: hidden;   
    display : flex;    
    justify-content: center;
    align-items: center;
    background-color: #000000;
}


#banniere #photos_banniere{
    position: absolute;
    z-index: 2; 
    text-align: center;
    opacity: 60%;
}

#banniere #titre{
    line-height: 1;
    margin-bottom: 10px;
    position: absolute;
    top: 60px; 
    width: 600px; 
    height: 400px; 
    z-index: 2;
    color: #EF476F;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Dosis';
    font-size: 80px;
}

#photos_banniere img{
    width: 33%;
    height: auto;
}

/*********/
/* INDEX */
/*********/

#corps_page{
    background-color: rgba(12, 59, 76,0.5);
    padding: 50px;
    color: #FFFFFF;
}

#entete{
    background-color: #EF476F;
    text-align: center;
    border-radius: 100px;
    color: #FFFFFF;
    padding: 40px;
    margin-bottom: 100px;
}

#entete #titre_entete{
    font-size: 50px;
    margin-bottom: 20px;
}

#entete #description_entete{
    font-size: 25px;
}

#promo_video{
    background-color: rgba(239, 71, 111, 0.35);
    color: #FFFFFF;
    display: flex;
}

#lavideo{
    width: 800px;
}

#texte_video{
    margin: 30px;
    padding-top: 110px;
}

#titre_video{
    font-size: 40px;
    padding-bottom: 40px;
}

#description_video{
    font-size: 20px;
}

/* GALERIE */

#preview_galeries{
    background-color: #118AB2;
    color: #FFFFFF;
    text-align: center;
    padding-bottom: 20px;
    margin-top: 40px;
}

#titre_preview_galeries{
    font-size: 40px;
    padding: 20px;
}

#preview_photos{
    width: 1600px;
    display: flex;
    justify-content: space-around;
	margin: auto;
 	flex-basis: 25%;
	text-align: center;
	flex-wrap: wrap;
}

#preview_photos img{
    width: 350px;
    text-align: center;
	margin: 4px;
    margin-bottom: 15px;
	opacity: 50%;
    transition: 0.3s;
}

#preview_photos img:hover{
    opacity: 1;
}

/* RESERVATION */

#reservation{
    background-color: #EF476F;
    text-align: center;
    border-radius: 80px;
    color: #FFFFFF;
    padding: 40px;
    margin-bottom: 100px;
    margin-top: 50px;
}

#reservation #titre_reservation{
    font-size: 50px;
    margin-bottom: 40px;
}

#reservation #contenu_reservation{
    font-size: 25px;
    display: flex;
   
}

#contenu_reservation #butt_reservation{
    padding-top: 50px;
}

#contenu_reservation #lien_reservation{
    background-color: #41D882;
    border-radius: 50px;
    text-decoration: none;
    color: #FFFFFF;
    text-align: center;
    padding: 15px;
    font-weight: bold;
    font-size: 35px;
    margin-left: 150px;
    
}

#contenu_reservation #description_reservation{
    width: 400px;
    margin-left: 180px;
    padding-top: 50px;
}

#tarifs{
    display: block;
    margin-left: 150px;
}

#prix_adulte{
    padding-bottom: 20px;
}

#prix_adulte span{
    font-size: 40px;
}

#prix_enfant{
   padding-bottom: 40px;  
}

#prix_enfant span{
    font-size: 40px;
}

#explication_asterisque{
    font-size: 15px;
    position: relative;
    top: 35px;
    left: 250px;
}

/* PARTENAIRES */

#partenaires{
    background-color:rgba(0,0,0,0.5);
    color: #FFFFFF;
    text-align: center;
    padding: 30px;    
}

#titre_partenaires{
    font-size: 50px;
    margin-bottom: 20px;
}

#description_partenaires{
    font-size: 20px;
}

#images_partenaires{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#images_partenaires img{
    width: 250px;
    margin: 0 20px;
}

/* CHEMIN */

#chemin{
    color: #FFFFFF;
    font-size: 25px;
    line-height: 1;
    margin-bottom: 10px;
    position: absolute;
    top: 240px; 
    left: 200px;
    width: 600px; 
    height: 400px; 
    z-index: 2;
}

#chemin a{
    text-decoration: none;
    color: #FFFFFF;
}

#icon_accueil{
    width: 39px;
    position: relative;
    top: 5px;
}

/**************/
/* PARTENAIRE */
/**************/

#titre_partenairesp{
    font-size: 50px;
    margin-left: 350px;
}

#texte_p_partenaires{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 370px;
    font-size: 20px;
    
}

.partenaire{
    background: linear-gradient(#AABAC0, #808080);
    width: 800px;
    height: 600px;
    margin: 20px;
    position: relative;
}

.img_partenaire{
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.partenaire .explication_partenaire{
    background-color: rgba(32, 30, 30, 0.38);
    width: 700px;
    height: 470px;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    opacity: 0;
    transition: 0.3s;
}

.partenaire:hover .explication_partenaire{
    opacity: 1;
}

.partenaire .explication_partenaire .nom_partenaire{
    font-size: 38px;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 15px;
}

.partenaire .explication_partenaire .infos_partenaire{
    font-size: 20px;
    text-align: justify;
    padding: 0 5px;
    line-height: 25px;
}

#corps_page .item_pagep{
    margin: auto;
	text-align: center;
	flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    align-items: center;
 	flex-basis: 25%;
    color: #FFFFFF;
}

/*************/
/* EVENEMENT */
/*************/

#titre_evenement{
    font-size: 50px;
    margin-left: 350px;
}

#texte_p_evenement{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 370px;
    font-size: 20px;
    
}

.contenu_evenement{
    text-align: center;
}

.entete_evenement h2{
    font-size: 40px;
    padding-top: 20px;
}

.entete_evenement p{
    font-size: 20px;
    padding-top: 40px;
    text-align: left;
    margin-left: 380px;
    margin-bottom: 60px;
}
.entete_evenement a{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
}

.infos_evenement{
    display: block;
    margin: 100px;
    margin-top: 50px;
}

.presentation{
    display: flex;
    background-color: rgba(239, 71, 111,0.35);
    margin-top: 50px;
}

.professionels{
    display:flex;
    background-color: rgba(62, 72, 214,0.35);
    margin-top: 50px;
}

.souvenir{
    display: flex;
    background-color: rgba(132, 239, 71,0.35);
    margin-top: 50px;
}

#img_presentation{
    width: 750px;
}

#img_professionels{
    width: 750px;
}

#img_souvenir{
    width: 750px;
}

.texte_presentation h3{
    text-align: left;
    font-size: 40px;
    margin: 30px;
    }

.texte_professionels h3{
    text-align: left;
    font-size: 40px;
    margin: 30px;
    margin-top: 80px;
    }

.texte_souvenir h3{
    text-align: left;
    font-size: 40px;
    margin: 30px;
    margin-top: 100px
    }

.texte_presentation ul{
    text-align: left;
    font-size: 25px;
    margin: 30px;
    margin-left: 55px;
}

.texte_presentation p{
   text-align: justify;
    font-size: 25px; 
    margin: 30px;
}

.texte_professionels p{
   text-align: justify;
    font-size: 25px; 
    margin: 30px;
}

.texte_souvenir p{
   text-align: justify;
    font-size: 25px; 
    margin: 30px;
}

.citation{
    font-style: italic;
}

.auteur{
    margin-left: 450px;
    text-align: right;
    font-size: 25px;
}
.tarifs{
    background-color: #EF476F;
    text-align: center;
    border-radius: 80px;
    color: #FFFFFF;
    padding: 40px;
    padding-bottom: 10px;
    margin-top: 150px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tarifs h3{
    font-size: 50px;
    padding: 30px;
}

.tarifs p{
    font-size: 25px;
    padding-bottom: 20px;
}

#prix_tarifs{
    display: block;
    font-size: 20px;
}

.lien_inscription{
    background-color: #41D882;
    border-radius: 50px;
    text-decoration: none;
    color: #FFFFFF;
    text-align: center;
    padding: 15px;
    font-weight: bold;
    font-size: 40px;
    align-items: center; 
}

.tarifs #explication_asterisque{
    position: relative;
    top: 0;
    left: 500px;    
}

/***********/
/* CONTACT */
/***********/

#titre_contact{
    font-size: 50px;
    margin-left: 350px;
}

.entete_contact p{
   padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 370px;
    font-size: 20px; 
}

.contenu_contact{
    display: flex;
    margin-top: 40px;
}

#infos_contact{
    display: block;
    width: 600px;
    border-right: 3px solid #FFFFFF;
    padding: 100px;
}

.logo{
    width: 50%;
    padding-bottom: 60px;
    margin-left: 50px;
}

.element_contact{
    font-size: 25px;
    padding-bottom: 40px;
}

#adresse_contact{
    margin-left: 20px;
}

#adresse_contact strong{
    margin-left: -20px;
}

.element_contact a{
    text-decoration: none;
    color: #FFFFFF;
}

#formulaire_contact{
    padding: 50px;
}

.element_formulaire{
    font-size: 20px;
    padding-top: 15px;
}

#civilite{
    margin-left: 50px;  
    margin-top: 10px;
    padding: 10px;
}
#prenom{
    margin-left: 50px;
    margin-top: 10px;
    padding: 10px;
}
#nom{
    margin-left: 50px;
    margin-top: 10px;
    padding: 10px;
}
#mail{
    margin-left: 50px; 
    margin-top: 10px;
    padding: 10px;
}
#sujet{
    margin-left: 50px; 
    margin-top: 10px;
    padding: 10px;
}
#message{
    margin-left: 50px;
    margin-top: 10px;
    width: 700px;
    max-width: 1000px;
    height: 300px;
    min-height: 300px;
}

#envoie{
   background-color: #41D882;
    border-radius: 50px;
    text-decoration: none;
    color: #FFFFFF;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-weight: bold;
    align-items: center; 
    border-style: none;
    font-size: 25px;
}

/************/
/* GALERIES */
/************/

#titre_galeries{
    font-size: 50px;
    margin-left: 350px;
}

#texte_p_galeries{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 370px;
    font-size: 20px; 
}

.titre_categorie{
    text-transform: uppercase;
    color: #EF476F;
    font-size: 40px;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: 250px;
    font-family: "Noto Sans";
    font-weight: bold;
    font-style: italic;
}

.contenu_galeries{
    color: #FFFFFF;
    padding-bottom: 20px;
    margin-top: 40px;
}

.ensemble_categorie{
    display: flex;
	margin-left: 8%;
 	flex-basis: 25%;
	text-align: center;
	flex-wrap: wrap;
    justify-content: space-around;
}

.categorie_communique .ensemble_categorie{
    justify-content: flex-start;
    position: relative;
}

.ensemble_categorie img{
    width: 450px;
    text-align: center;
	margin: 4px;
    margin-bottom: 15px;	
}

.videos{
    margin-left: 50px; 
}

#presse_galerie{
    width: 700px;

}

#lien_telechargement_presse{
  background-color: #41D882;
    border-radius: 50px;
    text-decoration: none;
    color: #FFFFFF;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-weight: bold;
    align-items: center; 
    border-style: none;
    font-size: 25px;
    position: absolute;
    margin-left: 1000px;
    margin-top: 250px;
}

.titre_communique{
    position: absolute;
    top: 50%;
    left: 21%;
    transform: translate(-50%, -50%);
    color: #EF476F;
    font-family: "Noto Sans";
    font-size: 32px;
    font-weight: bold;
    font-style: italic;
}

/****************/
/* INFORMATIONS */
/****************/

.contenu_informations{
    display: block;
}

#titre_informations{
   font-size: 50px;
    margin-left: 350px;
}

#texte_p_informations{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 370px;
    font-size: 20px;   
}

.titre_contenu{
    font-size: 40px;
    padding-top: 20px;
    text-align: center;
}

.sous_titre_contenu{
    font-size: 20px;
    padding-top: 40px;
    text-align: center;
}

.informations_explications{
    display: flex;
    background-color: rgba(132, 239, 71,0.35);
    margin-top: 50px;
}

.informations_programme{
    display: flex;
    background-color: rgba(62, 72, 214,0.35);
    margin-top: 50px;
}

.informations_inscription{
    display: flex;
     background-color: rgba(239, 71, 111,0.35);
    margin-top: 50px;
} 

.informations_exposants{
    display: flex;
    background-color: rgba(214, 148, 62,0.35);
    margin-top: 50px;
} 

.informations_photos{
    display: block;
    background-color: rgba(233, 50, 50,0.35);
    margin-top: 50px;
}
.img_photos{
    display: flex; 
    align-items: center;
    align-content: center;
}

.img_explications img{
    width: 750px;
}

.img_programme img{
    width: 750px; 
    height: 500px;
}

.img_inscription img{
    width: 750px;  
} 

.img_exposants img{
    width: 750px; 
} 

#couleurs{
    display: block;
    margin: 100px;
    margin-top: 50px;
    
}

.informations_img_photos{
    width: 25%;
    margin: 50px;
}

.titre_explications{
    text-align: left;
    font-size: 40px;
    margin: 30px;
    margin-top: 95px;
    }

.titre_programme{
    text-align: left;
    font-size: 40px;
    margin: 30px;
    
    }

.titre_inscription{
    text-align: left;
    font-size: 40px;
    margin: 30px;
    margin-top: 80px;
    }

.titre_exposants{
    text-align: left;
    font-size: 40px;
    margin: 30px;
    margin-top: 100px
    }

.texte_explications{
    width: 1500px;
}

.texte_explications p{
   text-align: justify;
    font-size: 25px; 
    margin: 30px;
}

.texte_programme p{
   text-align: justify;
    font-size: 25px; 
    margin: 30px;
}

.texte_inscription p{
   text-align: justify;
    font-size: 25px; 
    margin: 30px;
}

.texte_exposants p{
   text-align: justify;
    font-size: 25px; 
    margin: 30px;
}

.lien_inscription1{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
}

.titre_photos{
    font-size: 40px;
    text-align: center;
    padding-top: 50px;
}

#photos1{
    margin-left: 110px;
}

/*MENTIONS LEGALES*/

#titre_mentions_legales{
    font-size: 50px;
    margin-left: 350px;
}

#sous-titre-mention{
   padding-top: 20px;
    padding-bottom:20px;
    padding-left: 370px;
    font-size: 20px;  
}

.contenu_mentions_legales{
    background-color: #E7E6E8;
    color: black;
    padding:50px;
    border-radius: 50px;
    margin-top: 25px;
}

#infos_legales p{
    font-size: 20px;
    text-align: justify;
}

#presentation_principe p{
    font-size: 20px;
    text-align: justify; 
}

#hypertextes_cookies p{
    font-size: 20px;
    text-align: justify;
}

#donnees_personnelles p{
    font-size: 20px;
    text-align: justify;
}

#accessibilite p{
   font-size: 20px;
    text-align: justify; 
}

#propriete_intellectuelle p{
    font-size: 20px;
    text-align: justify;
}

#protection_bdd{
   font-size: 20px;
    text-align: justify;  
}

#paragraphe_gras {
    font-size: 20px;
    text-align: justify;
    font-weight: bold;
}

.contenu_mentions_legales h3{
    font-size: 40px;
    padding-top: 20px;
    padding-bottom: 10px;
}

#mention_loi{
    font-size: 30px;
}

/*CONFIDENTIALITE*/

#titre_confidentialite{
     font-size: 50px;
    margin-left: 350px;
}

#sous_titre_confidentialite{
    padding-top: 20px;
    padding-bottom:20px;
    padding-left: 370px;
    font-size: 20px;  
}

.contenu_confidentialite {
    background-color: #E7E6E8;
    color: black;
    padding:50px;
    border-radius: 50px;
    margin-top: 25px;
}

#donnees_collectees p{
    font-size: 20px;
    text-align: justify;
}

#donnees_recoltees p{
    font-size: 20px;
    text-align: justify;
}

#donnees_raison p{
    font-size: 20px;
    text-align: justify; 
}

#donnees_destination p{
    font-size: 20px;
    text-align: justify;
}

#donnees_protection p{
    font-size: 20px;
    text-align: justify;
}

#donnees_droits p{
   font-size: 20px;
    text-align: justify; 
}

#donnees_conservation p{
    font-size: 20px;
    text-align: justify;
}

#donnees_transfert p{
    font-size: 20px;
    text-align: justify;
}

#donnees_modification p{
    font-size: 20px;
    text-align: justify;
}

.contenu_confidentialite h3{
    font-size: 40px;
    padding-top: 20px;
    padding-bottom: 10px;
}

/*COOKIES*/
#titre_cookies{
  
    font-size: 50px;
    margin-left: 350px;  
}

#sous_titres_cookies{
    padding-top: 20px;
    padding-bottom:20px;
    padding-left: 370px;
    font-size: 20px;
}   

.contenu_cookies {
    background-color: #E7E6E8;
    color: black;
    padding:50px;
    border-radius: 50px;
    margin-top: 25px;
}


#infos_cookies p{
    font-size: 20px;
    text-align: justify;
}

#utilisation_cookies p{
    font-size: 20px;
    text-align: justify;
}

#parametrage_cookies p{
    font-size: 20px;
    text-align: justify; 
}

#desactivation_cookies p{
    font-size: 20px;
    text-align: justify;
}

.contenu_cookies h3{
    font-size: 40px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.contenu_cookies h4{
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 50px;
}

/*VENTE*/
#titre_conditions_vente{
  
    font-size: 50px;
    margin-left: 350px;  
}  

#contenu_conditions_vente {
    background-color: #E7E6E8;
    color: black;
    padding:50px;
    border-radius: 50px;
    margin-top: 25px;
}


#contenu_conditions_vente p{
    font-size: 20px;
    text-align: justify;
}


#contenu_conditions_vente h3{
    font-size: 40px;
    padding-top: 20px;
    padding-bottom: 10px;
}

#presentation_agence p{
    padding-bottom: 20px;
}












































    
    
    


/*
@media screen and (max-width: 1280px){
   #lavideo{
        width: 100px;
    }
    footer{
        width: 830px; 
        height: 800px;
    }

    #top_footer{
        display: block;
    }    

    footer #localisation{
        display: block;
        flex-direction: column;
    }  
}