*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Noto Sans;
}

html{
    font-size: 62.5%;
}

header{
    padding: 10px;
    background-color: white;
    display: flex;
}

header #logo{
    display: inline-block;
    width: 10%;
    text-align: center;
}

header img{
    width: 70%;
	height: auto;
}

header #menu{
    margin-top: 25px;
}

header #menu a{
    text-decoration: none;
    color: #0C3B4C;
    margin: 20px;
    font-size:18px;
    border-radius: 5px;
}

header #menu a:hover{
    background-color:#0C3B4C;
    color:white;
    
}

header #reseaux_sociaux{
    width: 15%;
    margin-top: 25px;
}

header #reseaux_sociaux img{
    width: 15%;
	height: auto;
}

header #reseaux_sociaux img:hover{
    transform: scale(1.5);
}

header button{
    background-color:transparent;
    margin-top: 25px;
    border:none;
}

header button:hover{
    background-color:#0C3B4C;
    color:white;
}

footer{
    background-color: #3B3B3B;
    color:white;
}

footer a{
    text-decoration: none;
    color: white;
    margin-left: 15px;
}

footer a:hover{
    font-weight: bold;
}

footer .flex{
    display: flex;
}

footer #liens{
    display: flex;
    
}

footer #liens div{
    display: block;
    margin:50px;
}

footer #liens a{
    display: block;
}

footer #texte_carte{
    margin-left: 60px;
}

#trait{
    background-color: white;
    margin-left: 50px;
    margin-right:50px;
}

#top_footer{
    margin-left: 80px;
}

#bottom_footer{
    padding-top: 10px;
    padding-bottom: 15px;
    display: flex;
    margin-left: 20px;
    margin-right: 60px;
    font-size: 14px; 
    text-align: center;
    
}

footer #droits{
    width: 500px;
    margin-left: 50px;
    margin-top: 15px;
}

footer #realisation{
    width: 300px;
    margin-left:150px;
    display: flex;
    
}

footer #reglements{
    margin-left: 70px; 
    margin-top: 8px;
